<aside class="col-sm-3 col-sm-push-1 sidebar">
{#						<div class="widget">#}
{#							<form>#}
{#								<input type="text" placeholder="Search..." class="search" />#}
{#								<i class="material-icons">search</i>#}
{#							</form>#}
{#						</div>#}
{#						<div class="widget">#}
{#							<h3>Categories</h3>#}
{#							<ul>#}
{#                                {% for category in categories %}#}
{#								<li><a href="#">{{ category.name }}</a></li>#}
{#                                {% endfor %}#}
{#							</ul>#}
{#						</div>#}
{#						<div class="widget">#}
{#							<h3>Archives</h3>#}
{#							<ul>#}
{#								<li><a href="#">July 2017</a></li>#}
{#								<li><a href="#">June 2017</a></li>#}
{#								<li><a href="#">May 2017</a></li>#}
{#								<li><a href="#">April 2017</a></li>#}
{#							</ul>#}
{#						</div>#}
{#                        {% if tags %}#}
{#						<div class="widget">#}
{#							<h3>Tags</h3>#}
{#                            <ul>#}
{#                            {% for tag in tags %}#}
{#							<a href="#" class="tag">{{ tag.name }}</a>#}
{#							{% endfor %}#}
{#							</ul>#}
{#						</div>#}
{#                        {% endif %}#}
                        {% if post.film %}
                            {% if post.film.omdb_response.Ratings %}
                                <div class="widget">
                                    <h3>Film Ratings</h3>
                                    <ul>
                                    {% for rating in post.film.omdb_response.Ratings %}
                                        <li><strong>{{ rating.Source }}</strong>: {{ rating.Value }}</li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        <div class="widget">
                            <h3>Trailer</h3>
                            <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ post.film.youtube_id }}?rel=0" allowfullscreen></iframe>
                            </div>
                        </div>
                        {% endif %}

					</aside>