<!-- templates/index.html -->

{% extends "_base.html" %}

{% block content %}
    <h1>Fort Kent Cinema</h1>
    <h2>13 Hall Street<br/>Fort Kent, Maine 04743</h2>

    <h3>Now Playing</h3>
    <h4>THUNDERBOLTS*</h4>
    <h5>Showtime</h5>
    <ul style="list-style-type: none;">
        <li>Thursday, May 8th 6pm</li>
        <li>Friday, May 9th 6pm</li>
        <li>Saturday, May 10th 3pm & 6pm</li>
        <li>Sunday, May 11th 5pm</li>
    </ul>

{#    {% if recent_posts %}#}
{#    <h3>Recent Movie Reviews</h3>#}
{#        {% for post in recent_posts %}#}
{#        <h4>{{ post.title }}</h4>#}
{#        <p>A Review of the Film: {{ post.film.title }}</p>#}
{#        <p><a href="{{ post.get_absolute_url }}">Read Review</a></p>#}
{#        {% endfor %}#}
{#    {% endif %}#}
{% endblock content %}

{% block additional_meta_data %}
{% include "wagtailseo/struct_org_data.html" %}
{% endblock additional_meta_data %}