<!-- templates/index.html -->
{% extends "_base.html" %}
{% load static %}
{% block content %}
    <section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
          <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Fort Kent Cinema Blog</h2>
          <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Fort Kent Cinema is the best way to stay up to date with the going ons at your local theater</p>
      </div>
    {% include 'blogs/_blog_teasers.html' %}
  </div>
    </section>
{% endblock content %}