<!-- templates/index.html -->
{% extends "_base.html" %}
{% load static %}
{% block content %}

<!--
Install the "flowbite-typography" NPM package to apply styles and format the article content:

URL: https://flowbite.com/docs/components/typography/
-->

<main class="pb-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased">
  <header class="w-full h-[460px] xl:h-[537px] bg-no-repeat bg-cover bg-center bg-blend-darken relative" style="background-image:url('{{ post.banner_image.url }}');">
      <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-50"></div>
      <div class="absolute top-0 left-0 right-0 bottom-0 flex justify-center items-center flex flex-col">
          <h1 class="max-w-4xl text-2xl font-extrabold text-white sm:text-3xl lg:text-4xl">{{ post.title }}</h1>
          {% if post.movie %}
          <h2 class="max-w-2xl text-1xl font-extrabold text-white sm:text-1xl lg:text-2xl">A Review of "{{ post.movie.title }}"</h2>
          {% endif %}
      </div>
  </header>
  <div class="flex relative z-20 justify-between p-6 -m-36 mx-4 max-w-screen-xl bg-white dark:bg-gray-800 rounded xl:-m-32 xl:p-9 xl:mx-auto">
      <article class="xl:w-[828px] w-full max-w-none format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
          <div class="flex flex-col lg:flex-row justify-between lg:items-center">
              <div class="flex items-center space-x-3 text-gray-500 dark:text-gray-400 text-base mb-2 lg:mb-0">
                  <span>By <a href="#" class="text-gray-900 dark:text-white hover:underline no-underline font-semibold">{{ post.author.first_name }} {{ post.author.last_name }}</a></span>
                  <span class="bg-gray-300 dark:bg-gray-400 w-2 h-2 rounded-full"></span>
                  <span><time class="font-normal text-gray-500 dark:text-gray-400 uppercase" datetime="2022-03-08" title="{{ post.pub_date }}">{{ post.pub_date }}</time></span>
              </div>
          </div>
          <br/>
          <p>
              {{ post.content|linebreaksbr }}
          </p>
      </article>
      <aside class="hidden xl:block" aria-labelledby="sidebar-label">
          <div class="xl:w-[336px] sticky top-6">
              <h3 id="sidebar-label" class="sr-only">Sidebar</h3>
              {% if post.movie.ratings_dict %}
              <div class="mb-8">
                  <h4 class="mb-4 text-sm font-bold text-gray-900 dark:text-white uppercase">Movie Ratings</h4>
                  {% for rating in post.movie.ratings_dict %}
                  <div class="mb- flex items-center">
                      <div class="flex flex-row">
                          <h5 class="font-bold text-sm leading-tight dark:text-white text-gray-900 mr-2">{{ rating.Source }}: </h5>
                          <p class="mb-2 text-gray-500 dark:text-gray-400">{{ rating.Value }}</p>
                      </div>
                  </div>
                  {% endfor %}
              </div>
              {% endif %}
              {% if post.movie.poster %}
              <div>
                  <a href="#" class="flex justify-center items-center mb-3 p-4 w-full h-auto bg-gray-100 rounded-lg dark:bg-gray-700">
                      <img src="{{ post.movie.poster }}" alt="{{ post.movie.title }} movie poster" />
                  </a>
              </div>
              {% endif %}
              <div class="my-8">
                  <h4 class="mb-2 text-sm font-bold text-gray-900 dark:text-white uppercase">Support your local theater</h4>
                  <p class="mb-4 text-sm text-gray-500 dark:text-gray-400">It's a streaming services world!  So we need your help to make your local theater remain a part of the community.  Club Century helps us with our yearly operating expenses while giving you discounts and perks.</p>
                  <a href="" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 text-center w-full block">Join Club Century</a>
              </div>
          </div>
      </aside>
  </div>
</main>
{% endblock content %}