{% load static %}
<div class="bg-gray-900 container-fluid">
  <div class="relative isolate overflow-hidden">
    <img src="{% static 'img/home/kid-watching-movie.webp' %}" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
      <!-- Overlay -->
  <div class="absolute inset-0 -z-10 bg-white opacity-80"></div>
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
        <img src="{% static 'img/FKC_logo_black_FIN.svg' %}?test=2" class="h-96" alt="Fort Kent Cinema Logo" />
    </div>
  </div>
</div>