{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Hero -->
    <div id="hero" class="carousel slide carousel-fade" data-ride="carousel">

        <a href="#afterHeader" class="anchor">
            <img src="{% static 'theme/images/scroll-arrow.svg' %}" alt="Scroll down" class="scroll"/>
        </a>

        <!-- Indicators -->
        <div class="container">
            <ol class="carousel-indicators">
                {% for film in films %}
                    <li data-target="#hero" data-slide-to="{{ forloop.counter0 }}"
                        class="{% if forloop.first %}active{% endif %}"></li>
                {% endfor %}
            </ol>
        </div>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for film in films %}
                <div class="item {% if forloop.first %}active{% endif %}"
                     style="background-image: url('{{ film.banner_image.url }}');background-color:rgba(0, 0, 0, 80%);background-blend-mode: overlay; max-height: 900px">
                    <!-- Content -->
                    <div class="container">
                        <div class="row blurb scrollme animateme" data-when="exit" data-from="{{ forloop.counter0 }}"
                             data-to="{% if not forloop.last %}{{ forloop.counter }}{% endif %}" data-opacity="0"
                             data-translatey="100">
                            <div class="col-md-9">
                                <span class="title">
                                    {% if film.omdb_response.Genre %}
                                     {{ film.omdb_response.Genre }}
                                    {% endif %}
                                </span>
                                <h1>{{ film.title }}</h1>
                                <p>{{ film.summary }}</p>
                                <div class="buttons">
										<span class="certificate">
											{{ film.rating }}
										</span>
                                    <a href="https://youtu.be/{{ film.youtube_id }}" data-vbtype="video"
                                       class="venobox btn btn-default">
                                        <i class="material-icons">play_arrow</i>
                                        <span>Play trailer</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    <!-- Section -->
    <div class="container section" id="afterHeader">
        <div class="row">
            <div class="col-sm-12">

                <div class="tabs movies">
                    <ul>
                        {% for date in week_dates %}
                            <li><a href="#{{ date|date:"D"|lower|truncatechars:3 }}">{{ date|date:"D"|lower|truncatechars:3 }}</a></li>
                        {% endfor %}
                    </ul>
                    {% for date in week_dates %}
                        <div id="{{ date|date:"D"|lower|truncatechars:3 }}">
                            {% for the_date, films in films_by_date.items %}
                                {% if the_date|date:"D"|lower == date|date:"D"|lower|truncatechars:3 %}
                                    {% if films %}
                                        {% for film in films %}
                                            <div class="row movie-tabs">
                                                <div class="col-md-2 col-sm-3">
                                                    <a href="{% url 'core:film_detail' film.slug %}">
                                                        <img src="{{ film.poster_image.url }}"
                                                             alt="{{ film.title }} poster" style="width: 100%; height: 300px; object-fit: cover;"/>
                                                    </a>
                                                </div>
                                                <div class="col-md-10 col-sm-9">
                                                {% if film.omdb_response.Genre %}
                                                    <span class="title">
                                                    {{ film.omdb_response.Genre }}
                                                    </span>
                                                {% endif %}
                                                    <h3 class="no-underline">{{ film.title }}</h3>
                                                    <p>{{ film.summary }}</p>
                                                    <p><a href="{% url 'core:film_detail' film.slug %}" class="arrow-button">Full
                                                        synopsis</a></p>
                                                    <div class="row">
                                                        <div class="col-md-8 col-sm-9">
                                                            <hr class="space-10"/>
                                                            <span class="viewing-times">
													<i class="material-icons">access_time</i>
													Viewing times
												</span>

                                                            {% for time in film.showtime_set.all %}
                                                                {% if time.start_time|date == the_date|date %}
                                                                    <span class="time{% if time.is_past %} past{% endif %}">{{ time.start_time|date:"g:i A" }}</span>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                        <div class="col-md-4 col-sm-3 running-time">
                                                            <hr class="space-10"/>
                                                            {% if film.running_time_in_minutes %}
                                                                {{ film.running_time_in_minutes }} mins {% endif %}<span
                                                                class="certificate">{{ film.rating }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="fw-alert fw-alert-warning">
	                                        <i class="fa fa-warning alert-icon"></i><strong>Closed Today</strong> Sorry but the cinema is closed today, please join us at a later date!
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% if upcoming_films %}
    <!-- Section -->
    <section class="dark">
        <div class="container section remove-bottom-padding">
            <div class="row comingSoon-slides">
                <div class="col-sm-12">

                    <h2>Coming soon</h2>
                    {% for film in upcoming_films %}
                    <div class="row single-slide {{ film.slug }}">
                        <div class="bg" style="background: url({{ film.banner_image.url }});background-size: cover;background-color:rgba(0,0,0,70%);background-blend-mode: overlay"></div>
                        <div class="col-sm-5 col-xs-12 slide-content">
                            {% if film.omdb_response.Genre %}
                            <span class="title">{{ film.omdb_response.Genre }}</span>
                            {% endif %}
                            <h3 class="no-underline">{{ film.title }}</h3>
{#                            <div class="star-rating">#}
{#                                <i class="material-icons">star_rate</i>#}
{#                                <i class="material-icons">star_rate</i>#}
{#                                <i class="material-icons">star_rate</i>#}
{#                                <i class="material-icons">star_rate</i>#}
{#                                <i class="material-icons">star_rate</i>#}
{#                            </div>#}
                            <div class="date">
                                <i class="material-icons">date_range</i> {{ film.first_showing.start_time|date:"M/d" }} - {{ film.last_showing.start_time|date:"M/d/y" }}
                            </div>
                            <p>{{ film.summary }}</p>
                            <p><a href="{% url 'core:film_detail' film.slug %}" class="arrow-button">More info</a></p>
                        </div>
                        <div class="col-sm-6 col-xs-12 col-sm-push-1 slide-video">
                            <a href="https://youtu.be/{{ film.youtube_id }}" data-vbtype="video" class="venobox video">
                                <i class="material-icons">play_arrow</i>
                                <img src="{{ film.banner_image.url }}" alt=""/>
                            </a>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="slick-carousel" id="comingSoon">
                        {% for film in upcoming_films %}
                        <div data-dynamicclass="{{ film.slug }}" style="width: 200px; margin: 10px;">
                            <a href="#">
                                <img src="{{ film.poster_image.url }}" alt="{{ film.title }} poster" style="width: 100%; height: 300px; object-fit: cover;">
                            </a>
                            <h5 class="left no-underline" style="margin-top: 10px;">{{ film.title }}</h5>
                            <span class="release-date">Release Date: {{ film.release_date }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}