@import '../../styles/variables.scss';

.container-block {
    background: $primary-color;
    border-radius: 8px;
    padding: $padding-medium;
    max-width: 500px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  }